{% extends 'base.html' %}

{% block title %}Edit {{player.name}}{% endblock %}

{% block content %}

<div class="card m-5" style="background-color: #202020; color: #FFFFFF;">
    <div class="card-body mx-auto">
        <form method="post" style="margin-top: 1.3em;">
            {{ form }}
            
            {% csrf_token %}
            
            <br>
            <button type="submit" class="btn btn-outline-light">Submit</button>
        </form> 
    </div>
</div>

{% endblock content %}