{% extends 'base.html' %} 

{% block title %}Leaderboard{% endblock %} 

{% block content %}
<div class="card m-3" style="background-color: #202020; margin-top: auto">
  <div class="card-body">
    <div class="responsiveWrap" style="overflow-x: auto;">
      <table class="table table-borderless table-dark table-striped table-hover table-responsive-stack">
        <thead class="text-center">
          <tr>
            <th scope="col">Pos</th>
            <th class="text-start" scope="col">Name</th>
            <th scope="col">Score</th>
            <th scope="col">Dropper</th>
            <th scope="col">Death to Merchants</th>
            <th scope="col">Decapitation Station</th>
            <th scope="col">Phantom Menace</th>
            <th scope="col">The Kingdom Games</th>
            <!-- <th scope="col">Event 06</th>
            <th scope="col">Event 07</th>
            <th scope="col">Event 08</th>
            <th scope="col">Event 09</th>
            <th scope="col">Event 10</th>
            <th scope="col">Event 11</th>
            <th scope="col">Event 12</th> -->
            {% if user.is_superuser %}
            <th>Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody class="text-center">
          {% for player in player_list %}
            <tr>
              {% if forloop.counter == 1 %}
              <td><i class="fas fa-trophy" style="color: gold;"></i> {{ forloop.counter }}</td>
              {% else %}
              <td>{{ forloop.counter }}</td>
              {% endif %}
              <td class="text-start">
                <img src="{{ player.imageUrl }}" alt="" 
                 width="16" height="16" /> {{ player.name }}
              </td>
              <td>{{ player.total }}</td>
              <td>{{ player.event01 }}</td>
              <td>{{ player.event02 }}</td>
              <td>{{ player.event03 }}</td>
              <td>{{ player.event04 }}</td>
              <td>{{ player.event05 }}</td>
              <!-- <td>{{ player.event06 }}</td>
              <td>{{ player.event07 }}</td>
              <td>{{ player.event08 }}</td>
              <td>{{ player.event09 }}</td>
              <td>{{ player.event10 }}</td>
              <td>{{ player.event11 }}</td>
              <td>{{ player.event12 }}</td> -->
              {% if user.is_superuser %}
                <td class="text-center">
                  <a href="{% url 'dashboard' player.id %}"
                    ><i class="fas fa-edit" style="color: #ffffff;"></i
                  ></a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %} 


{% block pagination %} 
  {% if is_paginated %}
    <div class="m-3">
      <div class="pagination">
        <span class="page-links">
          {% if page_obj.has_previous %}
          <a
            class="btn btn-outline-light btn-sm"
            href="{{ request.path }}?page={{ page_obj.previous_page_number }}"
            >&larr;</a
          >
          {% endif %} {% if page_obj.has_next %}
          <a
            class="btn btn-outline-light btn-sm"
            href="{{ request.path }}?page={{ page_obj.next_page_number }}"
            >&rarr;</a
          >
          {% endif %}
        </span>
      </div>
    </div>
  {% endif %}
{% endblock %}
